.nav-bar {
  list-style-type: none;
  height: 5rem;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
}

.nav-item {
  padding-left: 2rem;
  cursor: pointer;
  font-weight: bold;
}

.active {
  color: rgb(2, 214, 168);
}
